@{
    ViewBag.Title = "Filmler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<WebProje.Models.tblMovie>  

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-12">
            <h4>Filmler</h4>
            <a href="javascript:;" data-toggle="tooltip modal" data-width="4" data-source="/Admin/FilmEkle" data-title="Yeni Film" data-function="CloseModal" class="btn btn-success btn-sm tooltips pull-right" style="margin-top:6px;" title="Yeni Film"><i class="fa fa-plus">&nbsp;&nbsp; Yeni Film</i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Poster</th>
                            <th class="col-md-2">Film Adı</th>
                            <th class="col-md-1">Yapım Yılı</th>
                            <th class="col-md-2">Açıklama</th>
                            <th class="col-md-1">Süre</th>
                            <th class="col-md-1">Toplam Hasılat</th>
                            <th class="col-md-1">İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.MoviePhoto == null)
                                {
                                    <td><img style='width:100%;max-width:118px;max-height:152px; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" /></td>
                                }
                                else
                                {
                                    <td>
                                        <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.MoviePhoto)" />
                                    </td>
                                }
                               
                                <td> @item.MovieName  </td>
                                <td>@String.Format("{0:yyyy}", @item.MovieReleaseDate)</td>
                                <td>@WebProje.Controllers.AdminController.TruncateAtWord(@item.MovieSynopsis, 20)</td>
                                <td>@item.MovieRunTimeMinutes</td>
                                <td>@String.Format("{0:c0}", @item.MovieBoxOfficeDollars)</td>
                                <td>
                                    <a href='javascript:;' data-toggle='tooltip modal' data-source="/Admin/FilmDuzenle?FilmID=@item.MovieID" data-title='Film Düzenle' data-function='CloseModal' data-width='4' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a>
                                    <a href="/Admin/FilmSil?FilmID=@item.MovieID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>